# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
Debug/
Release/
*.exe
*.out
*.app

# CVS
CVS/
.#*
.cvsignore

# unfinished files
procedure.h
procedure.cpp

# CodeLite files
.codelite
linux/demo.mk
linux/demo.txt
linux/Makefile

# Visual Studio files
.vs
VS2019/
*.vcxproj.user

# Backup files
*.bkp
